@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');



*, *::before, *::after {
  box-sizing: border-box;
}



.buttonQuestion
{
  box-shadow: inset 0 0 0 150px rgba(30, 30, 218, 0.596);
  border: 2px solid rgb(27, 27, 231);
  border-radius: 10px;
  padding: 2px 3px;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.0rem;
}

.buttonQuestion:hover {
  box-shadow: inset 0 0 0 150px rgb(27, 27, 231);
  color: white;
 
}


.question1{
  margin: 3px;
  color: white;
}


.answer1{
  cursor: pointer;
  box-shadow: inset 0 0 0 150px rgba(31, 212, 25, 0.596);
  color: black;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 5px 7px;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.0rem;
  font-weight:bolder;
}

.red{
  box-shadow: inset 0 0 0 150px rgba(219, 20, 20, 0.856);
}

.answer1:hover {
  box-shadow: inset 0 0 0 150px rgb(4, 117, 0);
  color: white;
}

.red:hover{
  box-shadow: inset 0 0 0 150px rgb(136, 9, 9);
}

.answer1:disabled {
  color: black;
  cursor:auto;
  border: 3px solid rgba(8, 250, 0, 0.596);
  opacity: 0.5;
}

.red:disabled {
  color: black;
  border: 3px solid rgba(250, 0, 0, 0.596);
  opacity: 0.5;
}

.answer1[disabled]:hover {
  color: white;
  box-shadow: inset 0 0 0 150px rgba(31, 212, 25, 0.596);
  border: 3px solid rgba(8, 250, 0, 0.596);
  opacity: 0.5;
}

.red[disabled]:hover {
  color: white;
  box-shadow: inset 0 0 0 150px rgba(219, 20, 20, 0.856);
  border: 3px solid rgba(250, 0, 0, 0.596);
  opacity: 0.5;
}



.headerlogin{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.headerlogin h1 {
  font-size: 6.0em;
  font-weight: bolder;
  background-image: linear-gradient(260deg, #ffffff 0%, #d4d4d4 100%);
}

.button_slide {
  color: rgb(27, 27, 231) ;
  border: 2px solid rgb(27, 27, 231);
  border-radius: 10px;
  padding: 2px 3px;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.0rem;
    text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(27, 27, 231);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px rgb(27, 27, 231);
  color: white;
 
}

.logout {
  border: 2px solid rgb(231, 27, 27);
  color: rgb(231, 27, 27) ;
  box-shadow: inset 0 0 0 0 rgb(231, 27, 27);
}

.logout:hover {
  box-shadow: inset 0 0 0 50px rgb(231, 27, 27);
  color: white;
 
}

.active1 {
  box-shadow: inset 0 0 0 50px rgba(30, 30, 218, 0.596);
  color: white;
  
}




/* navigation styles start here */



.header {
  background-image: linear-gradient(260deg, #ffffff 0%, #d4d4d4 100%);
  text-align: center;
  position: fixed;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  z-index: 999;
  width: 100%;
  display: inline;
}

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-image: linear-gradient(260deg, #f7f5f5 0%, #c7c5c5 100%);
  /*background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);*/
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin-top: 15px;
  
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}




/*

.button1{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

    color: white;
    text-decoration: none;
    font-size: 1.0rem;
    text-transform: uppercase;
   
    transition: opacity 150ms ease-in-out;
}

.button1 span:hover  {
  color: #000;
  border: solid 2px white;
}
*/
/*

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.0rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}
*/

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

/*
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}*/
.questionsBox{
  width: 100%;
  
}

.userInfo{
  
  margin-top:30px; 
  margin-bottom: 30px;
  margin-right:40px; 
  margin-left:40px; 
  background-color:#E6E6E6; 
  height:120px; 
  display: flex; 
  width:auto;
  justify-content: center;
}
.boxWithQ{
  margin-left: 20px;
  margin-right: 20px;
}


@media screen and (min-width: 965px) {

  .username{
    
    padding-top: 17px;
  }

.questionsBox{
  display: flex;
 
  
}
.boxWithQ{
  margin-left: auto ;
  margin-right: auto;
  width: 1000px;
}

.userInfo{
  margin-right:40px; 
  margin-left:40px; 
  margin-top: 150px;
}

  .nav-toggle-label {
    display: none;
  }

  .header {
    display: grid;
    grid-template-columns: 0.5fr auto minmax(600px, 3fr) 0.35fr;
  }
  
  .logo {
    grid-column: 2 / 3;
    padding-top: 7px;
  }
  
  nav {
    /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 2em;
    margin-bottom: 0;
  }
  
  
  
  
}

